.container {
  max-width: 500px;
}

.search-bar {
  display: block;
  margin-bottom: 0.75rem;

  input {
    width: 100%;
    box-sizing: border-box;
  }
}

.btn {
  padding: 0.5rem 1rem;
  border: none;

  &-sm {
    padding: 0.25rem 0.5rem;
    font-size: 0.8rem;
  }
}
